In [1]:
from scipy.stats import ttest_1samp
import numpy as np
age = [20,25,30,31,23,45,32,43,32,23,24,19,28,24,30,30,23,22,20,20,20,20,21,20]
print(age)
ages_avg = np.mean(age)
print(ages_avg)
t, pval = ttest_1samp(age, 27)#code for t test 1 sample
print('The Pvalues is: ',pval)
print('The t-stastics is: ',t)
if pval < 0.05:    # significance is 0.05
    print("Reject the null hypothesis")
else:
    print("Failed to reject the null hypothesis")

[20, 25, 30, 31, 23, 45, 32, 43, 32, 23, 24, 19, 28, 24, 30, 30, 23, 22, 20, 20, 20, 20, 21, 20]
26.041666666666668
The Pvalues is:  0.5116732890033738
The t-stastics is:  -0.6665784065545997
Failed to reject the null hypothesis

In [2]:
from scipy.stats import ttest_ind
import numpy as np
data1 = np.random.uniform(low=20, high=25.3, size=(20,))
data2 = np.random.uniform(low=20.5, high=26.5, size=(20,))
print("\ndata1:-\n")
print(data1)
print("\ndata2:-\n")
print(data2)
data1_avg = np.mean(data1)
data2_avg = np.mean(data2)
print("\ndata1 mean value:",data1_avg)
print("data2 mean value:",data2_avg)
data1_std = np.std(data1)
data2_std = np.std(data2)
print("\ndata1 std value:",data1_std)
print("data2 std value:",data2_std)
ttest,pval = ttest_ind(data1,data2)
print("\nThe P-value is: ",pval)
if pval <0.05:
    print("Reject the null hypothesis")
else:
    print("Failed to reject the null hypothesis")

data1:-

[20.28693814 24.69792167 22.33158283 21.60152606 21.99843467 22.99708733
 22.83713576 23.18394086 20.6634583  20.97940291 21.07348084 24.57658775
 20.44413164 24.2327096  24.78720437 24.30779085 24.74947527 20.09618204
 20.46348821 23.22029878]

data2:-

[22.93785051 23.38805999 22.41625993 24.00689858 25.73173058 24.20526809
 24.20579595 21.7701499  25.99661129 23.17203644 26.38214495 25.4362128
 21.12555653 23.92963601 21.87782625 23.79410847 24.29597893 23.78746231
 25.1659101  22.08873515]

data1 mean value: 22.476438893798797
data2 mean value: 23.78571163755104

data1 std value: 1.6567795971480543
data2 std value: 1.440761572099954

The P-value is:  0.013228404646691347
Reject the null hypothesis

In [3]:
import pandas as pd
from scipy import stats
df = pd.read_csv("blood_pressure.csv")
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [4]:
ttest,pval = stats.ttest_rel(df['bp_before'], df['bp_after'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("failed to reject the null hypothesis")

0.0011297914644840823
reject null hypothesis

In [5]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests
ztest ,pval = stests.ztest(df['bp_before'], x2=None, value=159)  #SampleMean
print(float(pval))
if pval<0.05:
    print("reject null hypothesis")
else:
    print("failed to reject the null hypothesis")

0.014185854025524306
reject null hypothesis

In [6]:
ztest ,pval1 = stests.ztest(df['bp_before'], x2=df['bp_after'], value=0,alternative='two-sided')
print(pval1)
if pval1<0.05:
    print("reject null hypothesis")
else:
    print("failed to reject the null hypothesis")

0.002162306611369422
reject null hypothesis

In [7]:
import pandas as pd
df_anova = pd.read_csv('PlantGrowth.csv')
df_anova = df_anova[['weight','group']]
grps = pd.unique(df_anova.group.values)
df_anova

    weight group
0     4.17  ctrl
1     5.58  ctrl
2     5.18  ctrl
3     6.11  ctrl
4     4.50  ctrl
5     4.61  ctrl
6     5.17  ctrl
7     4.53  ctrl
8     5.33  ctrl
9     5.14  ctrl
10    4.81  trt1
11    4.17  trt1
12    4.41  trt1
13    3.59  trt1
14    5.87  trt1
15    3.83  trt1
16    6.03  trt1
17    4.89  trt1
18    4.32  trt1
19    4.69  trt1
20    6.31  trt2
21    5.12  trt2
22    5.54  trt2
23    5.50  trt2
24    5.37  trt2
25    5.29  trt2
26    4.92  trt2
27    6.15  trt2
28    5.80  trt2
29    5.26  trt2

In [8]:
d_data = {grp:df_anova['weight'][df_anova.group == grp] for grp in grps}

In [9]:
Ftest, pval = stats.f_oneway(d_data['ctrl'], d_data['trt1'], d_data['trt2'])
print("p-value for significance is: ", pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("failed to reject the null hypothesis")

p-value for significance is:  0.0159099583256229
reject null hypothesis

In [10]:
from scipy.stats import f_oneway
tillamook = [0.0571, 0.0813, 0.0831, 0.0976, 0.0817, 0.0859, 0.0735,
             0.0659, 0.0923, 0.0836]
newport = [0.0873, 0.0662, 0.0672, 0.0819, 0.0749, 0.0649, 0.0835,
           0.0725]
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]
tvarminne = [0.0703, 0.1026, 0.0956, 0.0973, 0.1039, 0.1045]

F,p = f_oneway(tillamook, newport, petersburg, magadan, tvarminne)
print("P Value calculated is ", p)

if p<0.05:
    print("We will reject the null hypothesis")
else:
    print("failed to reject the null hypothesis")

P Value calculated is  0.00028122423145345444
We will reject the null hypothesis